<div class="container">
    <div class="svg-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 597 385" preserveAspectRatio="xMinYMin meet">
        <g id="NEC-Map" data-name="NEC-Map" transform="translate(-142 -272)">
          <g id="piazza" class="walkway" transform="translate(239 483)">
            <rect id="Rectangle_259" data-name="Rectangle 259" width="59" height="120" fill="#9d9fa2" />
            <text id="Piazza-2" data-name="Piazza" transform="translate(30 45)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-24.888" y="16">Piazza</tspan>
            </text>
          </g>
          <g id="skywalk" class="walkway" transform="translate(298 546)">
            <rect id="Rectangle_260" data-name="Rectangle 260" width="257" height="20" fill="#9d9fa2" />
            <text id="Skywalk-2" data-name="Skywalk" transform="translate(126)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-31.696" y="16">Skywalk</tspan>
            </text>
          </g>
          <g id="atrium" class="walkway" transform="translate(552 348)">
            <path id="Union_19" data-name="Union 19" d="M2319-3037v-218h17v0h119v18H2353.314L2336-3219.686v142.179L2360.507-3053H2423v16Z" transform="translate(-2316 3255)" fill="#9d9fa2" />
            <text id="Atrium-2" data-name="Atrium" transform="translate(0 146) rotate(-90)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="21.536" y="16">Atrium</tspan>
            </text>
          </g>
          <g id="hall-20" class="hall" transform="translate(471 311)">
            <path id="Union_14" data-name="Union 14" d="M2334-3165v-16h-15v-62h15v-12h68v90Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_20" data-name="Hall
    20" transform="translate(45 24)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-8.896" y="35">20</tspan>
            </text>
          </g>
          <g id="hall-19" class="hall" transform="translate(555 272)">
            <path id="Union_15" data-name="Union 15" d="M2319-3180v-61h65v61Zm6-61v-14h54v14Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_19" data-name="Hall
    19" transform="translate(32 25)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-8.896" y="35">19</tspan>
            </text>
          </g>
          <g id="hall-18" class="hall" transform="translate(621 272)">
            <path id="Union_16" data-name="Union 16" d="M2319-3180v-61h4v-14h37v14h5v61Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_18" data-name="Hall
    18" transform="translate(22 25)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-8.896" y="35">18</tspan>
            </text>
          </g>
          <g id="hall-17" class="hall" transform="translate(668 272)">
            <path id="Union_17" data-name="Union 17" d="M2343-3173v-7h47v7Zm-24-7v-61h71v61Zm6-61v-14h58v14Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_17" data-name="Hall
    17" transform="translate(35.5 25)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-8.896" y="35">17</tspan>
            </text>
          </g>
          <g id="hall-16" class="hall" transform="translate(618.589 395.761)">
            <path id="Union_18" data-name="Union 18" d="M2319-3177.925l36.106-36.106-5.7-5.695v.965h-6v3h-7v-7h-4v-7h7.459l3.289-3.289.253.253v-7.964h6v4h8v8h-3v6h-.965l5.195,5.2L2396.074-3255l31.113,31.113-77.075,77.075Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_16" data-name="Hall 16" transform="translate(31.309 64.906) rotate(-45)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-25.768" y="16">Hall 16</tspan>
            </text>
          </g>
          <g id="hall-12" class="hall" transform="translate(660 545)">
            <path id="Path_113" data-name="Path 113" d="M0,0H60V82H0Z" fill="#e8452c" />
            <text id="Hall_12" data-name="Hall
    12" transform="translate(30 24)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-8.896" y="35">12</tspan>
            </text>
          </g>
          <g id="hall-11" class="hall" transform="translate(605 567)">
            <path id="Union_13" data-name="Union 13" d="M2327-3175v-38h-8v-42h54v80Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_11" data-name="Hall
    11" transform="translate(30 22)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-8.896" y="35">11</tspan>
            </text>
          </g>
          <g id="hall-10" class="hall" transform="translate(541 567)">
            <path id="Union_12" data-name="Union 12" d="M2319-3175v-80h55v80Zm55-38v-42h8v42Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_10" data-name="Hall
    10" transform="translate(30 22)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-8.896" y="35">10</tspan>
            </text>
          </g>
          <g id="hall-9" class="hall" transform="translate(485 567)">
            <rect id="Rectangle_247" data-name="Rectangle 247" width="55" height="80" fill="#e8452c" />
            <text id="Hall_9" data-name="Hall
    9" transform="translate(30 22)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">9</tspan>
            </text>
          </g>
          <g id="hall-8" class="hall" transform="translate(470 500)">
            <rect id="Rectangle_232" data-name="Rectangle 232" width="84" height="45" fill="#e8452c" />
            <text id="Hall_8" data-name="Hall
    8" transform="translate(45 1)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">8</tspan>
            </text>
          </g>
          <g id="hall-7" class="hall selected" data-event="Crufts" transform="translate(470 454)">
            <rect id="Rectangle_233" data-name="Rectangle 233" width="84" height="45" fill="#e8452c" />
            <text id="Hall_7" data-name="Hall
    7" transform="translate(45 4)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">7</tspan>
            </text>
          </g>
          <g id="hall-6" class="hall selected" data-event="Comicon" transform="translate(470 402)">
            <rect id="Rectangle_234" data-name="Rectangle 234" width="84" height="51" fill="#e8452c" />
            <text id="Hall_6" data-name="Hall
    6" transform="translate(45 7)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">6</tspan>
            </text>
          </g>
          <g id="hall-5" class="hall" transform="translate(299 567)">
            <path id="Union_11" data-name="Union 11" d="M2356-3167v-8h34v8Zm-38-8v-80h150v80Zm150-25v-55h11v55Z" transform="translate(-2318 3255)" fill="#e8452c" />
            <text id="Hall_5" data-name="Hall
    5" transform="translate(56.5 22)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">5</tspan>
            </text>
          </g>
          <g id="hall-mini" class="hall" transform="translate(442 533)">
            <rect id="Rectangle_231" data-name="Rectangle 231" width="27" height="12" fill="#e8452c" />
          </g>
          <g id="hall-4" class="hall" transform="translate(299 475)">
            <path id="Union_10" data-name="Union 10" d="M2319-3185v-62h69v-8h36v5h26v3h11v62Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_4" data-name="Hall
    4" transform="translate(56.5 23)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">4</tspan>
            </text>
          </g>
          <g id="hall-3a" class="hall" transform="translate(270 423)">
            <path id="Union_8" data-name="Union 8" d="M2319-3196v-59h62v59Zm62-7v-34h12v34Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_3a" data-name="Hall
    3a" transform="translate(30 11)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-9.04" y="35">3a</tspan>
            </text>
          </g>
          <g id="hall-3" class="hall" transform="translate(175 423)">
            <path id="Union_6" data-name="Union 6" d="M2330-3196v-8h-11v-33h11v-18h83v59Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_3" data-name="Hall
    3" transform="translate(52.5 11)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">3</tspan>
            </text>
          </g>
          <g id="hall-2" class="hall" transform="translate(142 483)">
            <path id="Union_4" data-name="Union 4" d="M2391-3181v-8h24v8Zm-61-8v-6h-11v-34h11v-26h85v66Z" transform="translate(-2319 3255)" fill="#e8452c" />
            <text id="Hall_2" data-name="Hall
    2" transform="translate(36.5 15)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">2</tspan>
            </text>
          </g>
          <g id="hall-1" class="hall" transform="translate(142 558)">
            <path id="Union_20" data-name="Union 20" d="M11,99V90H71v9Zm0-9V65H0V31H11V5H72V0H96V90Z" fill="#e8452c" />
            <text id="Hall_1" data-name="Hall
    1" transform="translate(36.5 31)" fill="#fff" font-size="16" font-family="HelveticaNeue-Bold, Helvetica Neue" font-weight="700">
              <tspan x="-14.648" y="16">Hall</tspan>
              <tspan x="-4.448" y="35">1</tspan>
            </text>
          </g>
        </g>
      </svg>
  
    </div>
    <div class="modal-outer">
      <div class="modal-inner">
        Click the highlighted halls to see what event is being held there
      </div>
    </div>
  </div>

  <script>
      const modal = document.querySelector(".modal-outer");
const modalInner = modal.querySelector(".modal-inner");

function mapModal(mapItem) {
  const event = mapItem.dataset.event;
  mapItem.addEventListener("click", () => {
    // event && (modalInner.innerHTML = `${event} is being held here`);
    modalInner.innerHTML = 
  });
}

const halls = document.querySelectorAll(".hall");
halls.forEach((e) => {
  mapModal(e);
});

  </script>